<!-- Contact Section -->
<div id="contact" class="relative pt-12 text-white">
    <div class="absolute inset-0 bg-[url('./images/bg.jpg')] bg-center bg-cover bg-fixed"></div>
    <div class="absolute inset-0 bg-black/60"></div>
    <div class="relative">
        <div class="container mx-auto px-4 text-center">
            <h1 class="text-xl mb-2">Contact</h1>
            <h2 class="text-3xl font-bold mb-2">Get In Touch</h2>
            <p class="mb-4">I'm always open to new opportunities and collaborations.</p>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-8 py-8 mb-8">
                <div>
                    <i data-lucide="phone" class="mx-auto mb-2 w-8 h-8"></i>
                    <p>+91 90304 24047</p>
                </div>
                <div>
                    <i data-lucide="mail" class="mx-auto mb-2 w-8 h-8"></i>
                    <p>siripoluomprakash@gmail.com</p>
                </div>
            </div>
            <div class="flex justify-center space-x-4">
                <a href="https://www.linkedin.com/in/omprakashsiripolu/" class="text-white hover:text-gray-300">
                    <i data-lucide="linkedin" class="w-6 h-6"></i>
                </a>
                <a href="https://twitter.com/prakashnetha555" class="text-white hover:text-gray-300">
                    <i data-lucide="twitter" class="w-6 h-6"></i>
                </a>
                <a href="https://github.com/omprakashsiripolu" class="text-white hover:text-gray-300">
                    <i data-lucide="github" class="w-6 h-6"></i>
                </a>
            </div>
        </div>
        <div class="bg-black h-12 mt-8 text-center py-2">
            <p>Made by Omprakash Siripolu</p>
        </div>
    </div>
</div>