<!-- Navigation -->
<nav id="navbar-content" class="bg-black">
    <div class="container mx-auto px-4">
        <div class="flex justify-between items-center">
            <a href="#" class="py-4"><img src="./images/osw.png" class="h-12"></a>
            <button class="lg:hidden text-white text-3xl outline-none">
                <i data-lucide="menu"></i>
            </button>
            <div class="hidden lg:flex">
                <ul class="flex space-x-6">
                    <li><a href="#top" class="text-white hover:text-gray-300">Home</a></li>
                    <li><a href="#about" class="text-white hover:text-gray-300">About</a></li>
                    <li><a href="#experience" class="text-white hover:text-gray-300">Experience</a></li>
                    <li><a href="#skills" class="text-white hover:text-gray-300">Skills</a></li>
                    <li><a href="#projects" class="text-white hover:text-gray-300">Projects</a></li>
                    <li><a href="#education" class="text-white hover:text-gray-300">Education</a></li>
                    <li><a href="#contact" class="text-white hover:text-gray-300">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>